h1 {
	color: #37322d; 
	text-align: left;
	background-color: #88ddcc;
	font-family: Verdana; 

}

body { 
	background-color: #eeddcc;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

p {
	font-weight: bold;
}


