*{margin:0;padding:0;box-sizing:border-box;}
body { 
	background-color: #eeddcc;
	color: #37322d;
	font-family: 'Open Sans', sans-serif;

}
header {
	background-color: #88ddcc;
	padding:1em;
}
h1 {
	font-family: Verdana;
}
a {
	color: #37322d;
}
.center {
	display:block;
	margin:0 auto 0 auto;
}
